<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    --><!--<add name="TaskManagerDbConnect" connectionString="Data Source=DOTNET;Initial Catalog=TestFSD;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient" />--><!--
    <add name="TaskManagerDbConnect" connectionString="Data Source=DOTNET;Initial Catalog=TaskManager;Integrated Security=SSPI;MultipleActiveResultSets=True;Connection Timeout=30; Pooling=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>